<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">The only bad workout is no workout</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/abs.jpg" alt="herosection_image">
                    </figure>
                </div>

                {{!-- right side  --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>GET IN TOUCH WITH US✌</h1>

                    <p>Welcome To <span class="bold-style">Antarpreet's Gym Club </span>
                        , This Gym Has Become The Preferred Gym Of Celebrities, Athletes,
                         Bodybuilders, The Military, And Fitness Enthusiasts All Over
                          The World. Most Importantly, This Gym Continues To Change
                           Lives By Helping People Achieve Their Individual Potential</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>