<div class="containee-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services </h1>
            <p class="text-center sub-heading">Fitter, healthier, happier</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon"> <img src="https://cdn-icons-png.flaticon.com/128/1719/1719695.png"> </div>
                            <h4>Cardiovascular Area</h4>
                            <p>You guys are also doing cardio exercises and we have proper large open place for this. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon"> <img src="https://cdn-icons.flaticon.com/png/128/2871/premium/2871284.png?token=exp=1648502839~hmac=5c8247a398a97a604f5b000770f558e5"> </div>
                            <h4>Affordable</h4>
                            <p>All the courses are very affordable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon"> <img src="https://cdn-icons-png.flaticon.com/128/1616/1616487.png"> </div>
                            <h4>Trainer Allocation</h4>
                            <p>We allocate the trained trainer as per your plans and courses. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon"> <img src="https://cdn-icons-png.flaticon.com/128/7177/7177672.png"> </div>
                            <h4>Digital</h4>
                            <p>All the machines in our gym are digitally activated like we have machines to burn the calories and you get the instant calculations of how much calories you guys are burned</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon"> <img src="https://cdn-icons-png.flaticon.com/128/7177/7177622.png"> </div>
                            <h4>No Branch Visits</h4>
                            <p>If you are busy with your works or the gym is too far from your residentials then we have the plans to allocate your gym trainer in a digital mode. He or She will trained you via webcam. </p>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon"> <img src="https://cdn-icons-png.flaticon.com/128/185/185590.png"> </div>
                            <h4>Fully AC</h4>
                            <p>We have the facilities of AC and Heater
                                 according to weather conditions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>